<footer class="bs-footer" role="contentinfo">
	<div class="container">
		<hr>
			{{> social-buttons }}

			<p>
				Made with <a href="https://github.com/assemble/assemble" target="_blank">Assemble</a>. The <a href="{{ site.url.repo }}" target="_blank">{{ site.title }}</a> website was created by <a href="https://twitter.com/{{ site.social.twitter.username }}" target="_blank">{{ site.social.twitter.username }}</a>.
			</p>
			<p>
				This page Copyright &copy; 2015 Innovating Teams. Source code for building and running the site, not including content, is released under the <a href="{{ site.license.url }}" target="_blank">{{ site.license.type }}</a> license. Content of this page is {{#if proprietary}}proprietary. All rights reserved{{else}}released under the <a href="{{ site.content_license.url }}">{{ site.content_license.type }}</a>{{/if}}. Each page on this site is licensed separately. Please check the footer for licensing requirements if you wish to reuse.
			</p>
			<ul class="footer-links">
				<li>Currently v{{ site.version }}</li>
				<li class="muted">&middot;</li>
				<!--      <li><a href="{{ site.url.blog }}">Blog</a></li>
		<li class="muted">&middot;</li> -->
				<li>
					<a href="{{ site.url.bugs }}">Issues</a>
				</li>
				<li class="muted">&middot;</li>
				<li>
					<a href="{{ site.url.repo }}/blob/master/CHANGELOG.md">Changelog</a>
				</li>
				<li class="muted">&middot;</li>
				<li>
					<a href="{{ site.url.repo }}/releases">Releases</a>
				</li>
			</ul>
		</div>
</footer>

<!-- "back-to-top" button -->
<a href="#" style="right: 70px;" class="btn back-to-top btn-dark btn-fixed-bottom">
	<span class="glyphicon glyphicon-chevron-up"></span>
</a>
